// Alerts

@mixin alert-variant($background, $border, $main) {
  background-color: $background;
  border-color: $border;
  color: $main;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($main, 10%);
  }
}
