.label
  background-color: $muted
  color: $label-badge-color
  font-weight: 600
  padding: 3px 8px
  text-shadow: none
  border-radius: 1em

.badge
  background-color: $muted
  color: $label-badge-color
  font-size: 11px
  font-weight: 600
  padding-bottom: 4px
  padding-left: 6px
  padding-right: 6px
  text-shadow: none


.label-primary, .badge-primary
  background-color: $success
  color: #FFFFFF


.label-success, .badge-success
  background-color: $primary
  color: #FFFFFF


.label-warning, .badge-warning
  background-color: $warning
  color: #FFFFFF


.label-warning-light, .badge-warning-light
  background-color: $warning
  color: #ffffff


.label-danger, .badge-danger
  background-color: $danger
  color: #FFFFFF


.label-info, .badge-info
  background-color: $info
  color: #FFFFFF


.label-inverse, .badge-inverse
  background-color: #262626
  color: #FFFFFF


.label-white, .badge-white
  background-color: #FFFFFF
  color: #5E5E5E


.label-white, .badge-disable
  background-color: #2A2E36
  color: #8B91A0


.label-success, .badge-success
    background-color: #f1faff
    color: #1f7cbf
    border: 1px solid #1f7cbf

.label-danger, .badge-danger
    background-color: #ffeff3
    color: #d9214e
    border: 1px solid #d9214e

.label-warning, .badge-warning
    background-color: #fff8dd
    color: #f1bc00
    border: 1px solid #f1bc00

.label-primary, .badge-primary
    background-color: #e4fff4
    color: #19b674
    border: 1px solid #19b674

.label-info, .badge-info
    background-color: #defcfd
    color: #23c6c8
    border: 1px solid #23c6c8