
.btn
  border-radius: $btn-border-radius


.float-e-margins .btn
  margin-bottom: 5px


.btn-w-m
  min-width: 120px



.btn-primary
  background-color: $button-primary-background
  border-color: darken($button-primary-background, 5%)
  color: $primary

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus
  background-color: darken($primary, 5%)
  border-color: darken($primary, 5%)
  color: #FFFFFF

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
  background-image: none

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active
  background-color: lighten($primary, 5%)
  border-color: lighten($primary, 1%)



.btn-success
  background-color: $success
  border-color: darken($success, 5%)
  color: #FFFFFF

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:hover, .btn-success.active:focus
  background-color: darken($success, 5%)
  border-color: darken($success, 5%)
  color: #FFFFFF

.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success
  background-image: none

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active
  background-color: lighten($success, 5%)
  border-color: lighten($success, 1%)



.btn-info
  background-color: $info
  border-color: darken($info, 5%)
  color: #FFFFFF

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info.active:focus
  background-color: darken($info, 5%)
  border-color: darken($info, 5%)
  color: #FFFFFF

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info
  background-image: none

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active
  background-color: lighten($info, 5%)
  border-color: lighten($info, 1%)



.btn-default
  background-color: $default
  border-color: darken($default, 5%)
  color: #FFFFFF

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:active:focus, .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus
  background-color: darken($default, 5%)
  border-color: darken($default, 5%)
  color: #FFFFFF

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default
  background-image: none

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active
  background-color: lighten($default, 5%)
  border-color: lighten($default, 1%)



.btn-warning
  background-color: $warning
  border-color: darken($warning, 5%)
  color: #FFFFFF

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning.active:hover, .btn-warning.active:focus
  background-color: darken($warning, 5%)
  border-color: darken($warning, 5%)
  color: #FFFFFF

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning
  background-image: none

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active
  background-color: lighten($warning, 5%)
  border-color: lighten($warning, 1%)



.btn-danger
  background-color: $button-danger-background
  border-color: darken($button-danger-background, 5%)
  color: $danger

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:hover, .btn-danger.active:focus
  background-color: darken($danger, 5%)
  border-color: darken($danger, 5%)
  color: #FFFFFF

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger
  background-image: none

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active
  background-color: lighten($danger, 5%)
  border-color: lighten($danger, 1%)



.btn-link
  color: inherit


.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link
  color: $success
  text-decoration: none


.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link
  background-image: none


.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active
  color: #cacaca



.btn-white
  border-color: darken(white, 5%)
  background-color: white
  color: inherit

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white, .btn-white:active:focus, .btn-white:active:hover, .btn-white.active:hover, .btn-white.active:focus
  background-color: darken(white, 5%)
  border-color: darken(white, 5%)
  color: inherit

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white
  background-image: none

.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active
  background-color: lighten(white, 5%)
  border-color: lighten(white, 1%)



.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar
  box-shadow: none




.btn-outline
  background-color: transparent
  transition: all .5s


.btn-primary.btn-outline
  color: darken($primary, 5%) !important

.btn-success.btn-outline
  color: darken($success, 5%) !important

.btn-default.btn-outline
  color: darken($default, 5%) !important

.btn-info.btn-outline
  color: darken($info, 5%) !important

.btn-warning.btn-outline
  color: darken($warning, 5%) !important

.btn-danger.btn-outline
  color: darken($danger, 5%) !important

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:active, .btn-primary.btn-outline:focus,
  .btn-success.btn-outline:hover, .btn-success.btn-outline:active, .btn-success.btn-outline:focus,
  .btn-default.btn-outline:hover, .btn-default.btn-outline:active, .btn-default.btn-outline:focus,
  .btn-info.btn-outline:hover, .btn-info.btn-outline:active, .btn-info.btn-outline:focus,
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:active, .btn-warning.btn-outline:focus,
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:active, .btn-danger.btn-outline:focus
  color: $muted !important

.btn-rounded
  border-radius: 50px


.btn-large-dim
  width: 90px
  height: 90px
  font-size: 42px


button.dim
  display: inline-block
  text-decoration: none
  text-transform: uppercase
  text-align: center
  padding-top: 6px
  margin-right: 10px
  position: relative
  cursor: pointer
  border-radius: 5px
  font-weight: 600
  margin-bottom: 20px !important


button.dim:active
  top: 3px


button.btn-primary.dim
  box-shadow: inset 0 0 0 darken($success, 6%), 0 5px 0 0 darken($success, 6%), 0 10px 5px #999


button.btn-primary.dim:active
  box-shadow: inset 0 0 0 darken($success, 6%), 0 2px 0 0 darken($success, 6%), 0 5px 3px #999


button.btn-default.dim
  box-shadow: inset 0 0 0 darken($default, 6%), 0 5px 0 0 darken($default, 6%), 0 10px 5px #999


button.btn-default.dim:active
  box-shadow: inset 0 0 0 darken($default, 6%), 0 2px 0 0 darken($default, 6%), 0 5px 3px #999


button.btn-warning.dim
  box-shadow: inset 0 0 0 darken($warning, 6%), 0 5px 0 0 darken($warning, 6%), 0 10px 5px #999


button.btn-warning.dim:active
  box-shadow: inset 0 0 0 darken($warning, 6%), 0 2px 0 0 darken($warning, 6%), 0 5px 3px #999


button.btn-info.dim
  box-shadow: inset 0 0 0 darken($info, 6%), 0 5px 0 0 darken($info, 6%), 0 10px 5px #999


button.btn-info.dim:active
  box-shadow: inset 0 0 0 darken($info, 6%), 0 2px 0 0 darken($info, 6%), 0 5px 3px #999


button.btn-success.dim
  box-shadow: inset 0 0 0 darken($primary, 6%), 0 5px 0 0 darken($primary, 6%), 0 10px 5px #999


button.btn-success.dim:active
  box-shadow: inset 0 0 0 darken($primary, 6%), 0 2px 0 0 darken($primary, 6%), 0 5px 3px #999


button.btn-danger.dim
  box-shadow: inset 0 0 0 darken($danger, 6%), 0 5px 0 0 darken($danger, 6%), 0 10px 5px #999


button.btn-danger.dim:active
  box-shadow: inset 0 0 0 darken($danger, 6%), 0 2px 0 0 darken($danger, 6%), 0 5px 3px #999


button.dim:before
  font-size: 50px
  line-height: 1em
  font-weight: normal
  color: #fff
  display: block
  padding-top: 10px



button.dim:active:before
  top: 7px
  font-size: 50px


/* .btn:focus
  outline: none !important*/

