.mini_avatar
  height: auto
  width: 45px

.login-page
  .page-back
    // align-items: center

    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center

    .loginContent
      min-height: 100vh

      .sideLeftLogin, .sideRightLogin
        align-content: center
        display: flex
        flex-wrap: wrap
        min-height: 100vh

      .sideLeftLogin
        // background-image: url(../../images/fnd_login.jpg)
        background-position: center
        background-size: cover

        .carousel, .carousel-inner, .item
          min-height: 100vh
          width: 100%

          .item img
            background-position: center
            background-size: cover
            min-height: 100vh
            width: 100%



          .carousel-control.left, .carousel-control.right
            background-image: none



      .sideRightLogin
        h1
          font-size: 40px
          font-weight: bold
          line-height: normal
          text-align: left

        .form-control
          border-radius: 50px !important
          height: 56px
          border: none !important
          border-bottom: 2px solid #c2c2c2 !important

        .form-control-feedback
            left: 0
            position: absolute
            top: 0 !important
            right: 0 !important
            z-index: 2
            display: block
            width: 54px
            height: 54px
            line-height: 34px
            text-align: center
            pointer-events: none
            padding: 10px
            font-size: 16px

        .rememberContainer
          display: flex
          justify-content: space-between
          align-items: center
          margin-top: 15px

        .btnLogin
          border-radius: 50px !important
          height: 56px
          font-size: 18px
          font-weight: bold



body
 background-color: #464646

h2
 font-weight: bolder

.nav-header
 background-color: #0070b7

.nav.navbar-right
 >li
  >a
   color: #ffffff

.nav-header .text-muted
 color: #c3c3c3

.text-muted
 color: #ffffff

.page-heading
 h2
  font-weight: lighter

@media print
 .no-printable
  display: none !important