/* INSPINIA - Responsive Admin Theme version 2.7.1 */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap')

// Variables, Mixins
@import "variables"
@import "mixins"

// INSPINIA Theme Elements
@import "typography"
@import "navigation"
@import "top_navigation"
@import "buttons"
@import "badges_labels"
@import "elements"
@import "sidebar"
@import "base"
@import "pages"
@import "chat"
@import "metismenu"
@import "spinners"

// Landing page styles
@import "landing"

// RTL Support
@import "rtl"

// For demo only - config box style
@import "theme-config"

// INSPINIA Skins
@import "skins"
@import "md-skin"

// Media query style
@import "media"

// Custom style
// Your custom style to override base style
@import "custom.sass"

// Clear layout on print mode
@media print
  nav.navbar-static-side
    display: none

  body
    overflow: visible !important

  #page-wrapper
    margin: 0

body
    font-family: 'Poppins', sans-serif
    color: $main

.hide_password
    display: none

.user-img-profile
    width: 40px
    border-radius: 50% !important

.negative-amount
    color: #f8ac59

.user_section
    text-align: right
    float: right
    width: 29%

.user_section > #menu_user_profile
    padding: 5px 5px
    margin-top: 3px

.section-img-profile
    text-align: center

.btn-profile-img
    position: absolute !important
    left: 90%
    width: 41px

.btn-profile-img-edit
    top: -4% !important

.btn-profile-img-remove
    top: 14% !important

.btn-profile-img-submit
  top: 32.1% !important

.site_name
  font-size: 175%
    font-weight: 300 !important
    padding-top: 8% !important
    padding-bottom: 4px !important

.item_resumen_account
    color: #333 !important

body.mini-navbar .navbar-static-side
    overflow: initial !important

::-webkit-scrollbar
    width: 10px
    background-color: #F5F5F5

::-webkit-scrollbar-thumb
    background-color: #d1d4d8

::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #F5F5F5

.link-navbar
    color: $main !important
    padding: 10px 10px

.notification > a
    font-size: 160% !important
    color: $main !important

.notification_label
    position: absolute
    top: 11px
    left: 22px
    padding: 2px !important
    border-radius: 100%
    width: 17px
    height: 17px
    font-size: 65%

.notification_label_wifi
    position: absolute
    top: 14px
    left: 22px
    padding: 3px !important
    border-radius: 100%
    width: 12px
    height: 12px


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
    background: #ffffff00


.skin-1 .navbar-top-links li:last-child
    margin-right: 10px


.skin-1 .wrapper-content
    padding: 15px 15px 30px

.ibox-content
    /*min-height : 757px*/

.skin-1 .ibox-content:last-child
    border-style: none

.breadcrumb
    height: 10px !important
    border-bottom: none


.table > tbody
  background-color: white


.table-responsive
    min-height: 624px


.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table-striped thead tr.primary:nth-child(odd) th
    border-top: 1px solid #e7eaec
    color: $main
    font-size: $labelSize

.table > thead:first-child > tr:first-child > th a, .table > thead:first-child > tr:first-child > td a, .table-striped thead tr.primary:nth-child(odd) th a
    color: #727376

.modal .table-responsive
  min-height: 0px

.notif-text-content
 width : 200px
 max-width : 200px

.text-wrap
    overflow-wrap: break-word !important
    word-wrap: break-word !important
    text-overflow: ellipsis !important
    white-space: normal !important
    font-size: 90% !important
    font-weight: 500 !important

.wrapper h2
 font-weight: 500

.title-action
    padding-top: 10px !important

.skin-1 .wrapper-content
  padding: 15px 0px 30px !important

.page-heading
    padding: 14 10px 13px 18px !important

.btn
    border-radius: 5px !important

// .form-control
//     border-radius: 0px !important
//     padding-left: 5px
//     height : auto

.select2-container
    padding: 0px
    border: 0px

.select2-container .select2-choice, .select2-container-multi
    border: 0px
    border-radius: 0px
    border-bottom: 2px solid $default

.select2-container-active .select2-choice, .select2-container-active
    border-bottom: 2px solid $primary

.select2-drop-active
    border: 0px
    border-bottom: 1px solid #d3d8dc

.select2-container.select2-container-disabled .select2-choice
    border: 0px
    background-color: #f3f7fa

.select2-container.select2-container-disabled .select2-choice .select2-arrow
    background-color: #f3f7fa



.select2-container--default .select2-selection--single
    height: 33px !important

div.error > .select2-choice
    border-color: #d3737d
    background: #f9e5e7

.ui-menu > .ui-menu-item:hover
  color: black

.po-item
    border-radius: 3px
    margin: 4px
    text-align: left
    display: block
    padding: 3px 20px
    clear: both
    font-weight: 400
    line-height: 1.42857143
    color: #333
    white-space: nowrap

.po-item:hover
    color: #262626
    text-decoration: none
    background-color: #f5f5f5

.btn-full
  width: 100%
  padding: 1% 1% 1% 1% !important
  margin: 1% 1% 1% 1% !important

.btn-actions-pos
    border-color: #727376
    background-color: #f5f5dc00
    color: #727376
    margin-top: 15px !important

.btn-actions-pos:active
    color: #727376 !important

.btn-actions-pos:focus
    color: #727376 !important

.btn-pos-product
    border-radius: 10px !important
    padding: 10px 10px 10px 10px !important
    border: 2px solid #1484c6 !important

.btn-pos-product:hover
    border-color: #1484c6 !important
    
.pos-label-input
  color: #1484c6

.modal-header
    padding: 20px 30px 10px 30px
    border-bottom: none

.modal-footer
    padding: 20px 30px 37px 30px
    border-top: none


.modal-title
    text-transform: capitalize

.fa-exclamation-circle
    font-size: 130%
    padding-left: 1%

.fa-check-circle
    font-size: 130%
    padding-left: 1%


// #add_item
//     border-radius: 5px !important
//     padding: 10px 10px 10px 10px !important
//     border-color: #1484c6 !important
//     border-style: solid
//     border-width: 0.5px

h2
  display : contents

.tooltip
  position: fixed

.dataTables_wrapper .dataTables_filter
    margin-top: 18px

.dataTables_filter > label
    width: 100%

.dataTables_filter > label > input
    width: 100% !important
    border: 2px solid $primary !important
    border-radius: 10px !important
    height: 3.2em

.div_buttons_modal
    position: fixed
    bottom: 1%
    z-index: 99999
    padding: 11px 0px 11px 0px
    background-clip: padding-box
    background-color: $muted
    border: 1px solid rgba(0, 0, 0, 0)
    border-radius: 4px
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 30%)
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%)
    outline: 0 none
    left: -11px
    right: 0
    margin-bottom: 0 !important

.div_buttons_modal_lg, .div_buttons_modal_sm
    width: auto

.modal-dialog
    margin-bottom: 5% !important

.index_list > a
    font-size: 100% !important

.navbar a
    color: $main

.wizard_index_step
    padding-left: 4px


.wizard_index_step span
    font-size: 20px

.dataTables_length
    margin-top: 22px


.actionsButtonContainer
    padding: 0px

.actionsButtonContainer .dropdown
    margin-top: 16px
    margin-left: 5px

.actionsButtonContainer a.new-button
    margin-left: 5px
    margin-top: 15px

.new-button-container
    margin-top: 15px

.new-button
    border-radius: 50% !important
    border-width: 1px
    padding: 12px 10px
    height: 45px
    width: 45px

.new-button-sm
    padding: 6px 10px
    height: 35px
    width: 35px

.col-without-padding
    padding-left: 0px
    padding-right: 0px

.wizard > .content > .body ul > li
    display: inline

.btn-group-addon
    border: none
    border-bottom: 2px solid #c2c2c2
    border-radius: 0px !important

.header_alert
    border-radius: 5px
    -webkit-box-shadow: 0px 0px 20px 0px rgba(199,199,199,1)
    -moz-box-shadow: 0px 0px 20px 0px rgba(199,199,199,1)
    box-shadow: 0px 0px 20px 0px rgba(199,199,199,1)
    padding: 0.7% !important
    margin-bottom: 12px !important

.header_alert.alert-success
    background-color: #dff0d8f5

.header_alert.alert-danger
    background-color: #f2dedef5

.header_alert.alert-warning
    background-color: #fcf8e3f5

.header_alert.alert-info
    background-color: #d9edf7f5

span.text_alert
    font-size: 110% !important
    font-weight: 600 !important
    text-shadow: 2px 2px 3px rgb(0 0 0 / 20%)

.status_switch
  position: relative
  display: inline-block
  width: 60px
  height: 25px

.status_switch input
  opacity: 0
  width: 0
  height: 0

.status_slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s
  border-radius: 15px

.status_slider:before
  position: absolute
  content: ""
  height: 20px
  width: 20px
  left: 4px
  bottom: 3px
  background-color: white
  -webkit-transition: .4s
  transition: .4s
  border-radius: 20px

input:checked + .status_slider
  background-color: #2196F3

input:focus + .status_slider
  box-shadow: 0 0 1px #2196F3

input:checked + .status_slider:before
  -webkit-transform: translateX(31px)
  -ms-transform: translateX(31px)
  transform: translateX(31px)

.status_slider.round
  border-radius: 34px

.status_slider.round:before
  border-radius: 50%

#advancedFiltersContainer h3
    font-size: $subtitleSize

.wizard > .content
    background: none

.wizard > .content > .body
    position: inherit
    width: 100%

.wizard > .steps > ul > li
    width: 14.1% !important

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active
    font-size: $labelSize
    // border-bottom: 1px solid $primary
    padding-bottom: 4px

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active
    background: none
    border-bottom: 3px solid $primary
    padding-bottom: 4px

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active
        background: none
        border-bottom: 1px solid $default
        font-size: $labelSize
        padding-bottom: 4px

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active
        background: none
        color: darken($default, 10%)
        font-size: $labelSize
        padding-bottom: 4px

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active
    padding: 1.0em 1.2em !important
    border-radius: 50%

.wizard > .content > .body input
    border: 0
    border-bottom: 2px solid $default

div.dataTables_length label
    font-size: $mainSize

div.dataTables_length select
    font-size: $mainSize !important

.form-group input, .form-group label
    color: $main
    font-size: $labelSize

.form-group input
    border: 0
    border-bottom: 2px solid $default
/* table > thead > tr > th, table > tbody > tr > td
    color: $main
    font-size: $labelSize */

.well > table > tbody > tr > td
    color: $main
    font-size: $labelSize

.modal > .modal-dialog > .modal-content > .modal-header > h4
    color: $main
    font-size: $labelSize

.tag_option_color
    margin-right: 10px
    font-size: 140%

.mierror
    border-bottom: 2px solid #fbc2c4 !important
    border: 1px dotted #cc5965 !important
    background-color: #fbe3e4 !important

.mierroArrow
    background-color: #fbe3e4 !important

.alert 
    border-radius: 10px

.alert-danger 
    color: #a94442
    background-color: #fdf7f7
    border-color: #ebccd1



/******************************************* HASTA AQUÍ GENERAL  ******************************************************/

@media (min-width: 768px)
    .div_buttons_modal_lg, .div_buttons_modal_sm
        width: 600px
        margin: 30px auto


@media (min-width: 992px)
    .div_buttons_modal_lg
        width: 900px

    .fileinput-info
        cursor: pointer
        bottom: 150px
        left: 170px
        position: relative

    .input-group-addon
        border-bottom: 2px solid #cccccc
        border-radius: 6px !important
        border-left: 1px solid #cccccc !important

    .input-group-addon:last-child
        border-radius: 5px


@media (min-width:200px) and (max-width: 1000px) and (max-height: 500px)

    body.mini-navbar .navbar-static-side
        overflow: auto !important

    .user_section
        width : 60%

    .wasdasd
        display: none !important

    .user-img-profile
        display: none

    .user-name-profile
        display: none

    .drpdwn-profile
        margin: 0 !important

    .navbar-right
        width: 90%
        text-align: right

    .pnl
        margin:5% !important

    .pnl-icon
        display: none !important

    .no-desktop
        display: initial !important

    .btn-profile-img
        position: relative!important
        left: 4px
        width: 40px

    .btn-profile-img-edit
        top: -4% !important

    .btn-profile-img-remove
        top: 14% !important

    .btn-profile-img-submit
        top: 32.1% !important

    .select2-maxwidth
        max-width: 60px

    .modal-dialog
        width: 100% !important

    .footer
        max-height: 36px !important

    #wrapper
        min-height: 1000px !important

    #leftdiv
        min-height: 1000px !important

    #content
        min-height: 1000px !important

    #left-middle
        flex-grow: initial !important

    #pos #leftdiv #print
        height: 1000px !important


@media (max-width:400px) and (max-height:400px)

    #page-wrapper
        padding: 0px 0px !important

    .table-responsive
        border: none !important

    .dataTables_length
        display: none !important

    .dataTables_filter > label
        width: 100%

    .dataTables_filter > label > input
        width: 80% !important


@media (min-width:1001px) and (max-width: 1400px)

    .user_section
        width : 35%


@media (max-width:799px)
    .modal-md
        width : auto

    .notification > a
        padding: 10px 11px 0px 11px !important

    .minimalize-styl-2
        margin: 12px 5px 5px 20px !important

    .div-btn-payment-bars
        width : 16%

    .div-btn-payment-amount
        width : 84%

    .div_buttons_modal_lg
        width: 100% !important
        left: 3 !important


@media (max-width:1024px)

    .no-mobile
        display: none !important


@media (min-width:800px)

    .navbar-right
        width: 55%

    .modal-md
        width: 600px !important

    .no-desktop
        display: none !important

    .notification > a
        padding: 16px 11px 0px 11px !important

    .div-btn-payment-bars
        width : 10%

    .div-btn-payment-amount
        width : 90%

@media screen and (-webkit-min-device-pixel-ratio: 0)
    input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control
        line-height: 16px