@import "helpers/bootstrap.min.css";
@import "helpers/jquery-ui.css";
@import "helpers/font-awesome.min.css";
@import "helpers/datatables.css";
@import "helpers/icheck/square/blue.css";
@import "helpers/redactor.css";
@import "helpers/bootstrap-fileupload.css";
@import "helpers/ekko-lightbox.css";
@import "helpers/perfect-scrollbar.css";
@import "helpers/select2.css";
@import "helpers/bootstrap-datatimepicker.css";
@import "helpers/print.css";

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url(../fonts/mZSs29ggGoaqrCNB3kDfZQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/trnbTfqisuuhRVI3i45C5w.woff) format('woff');
}

.no-border { border-width: 0 !important; }
.border-bottom { border-bottom: 1px solid #ddd !important; }