@charset "utf-8";

a{ color: #36578C; }




/*

Azul menu y parte superior #007dcc

Azul menu y parte superior :hover
#0070b7;

Azul botones de categorias  y de la cuenta #36578c
Navegacion extremo #96989a
Navegacion #a9abae
Cuadro de subtotal y total #606062
Cancelar #ed3237
Pausar #007dcc
Comanda #36578c
Pagar #00b052
Fondo de la alerta #ed3237

FUENTES
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 */
.new-button
{
	border-radius: 50% !important;
    border-width: 1px;
    padding: 1px 1px;
    height: 45px;
    width: 45px;
    position: relative;
    top: -3px;
}
input, button, select, textarea
{
	font-family: 'Poppins' !important;
}
html, body, form {
	font-family: 'Poppins' !important;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
html {
		overflow-y: visible;
}

body {
	font-family: 'Poppins' !important;
	background: #FFF;
	color: #333;
	font-weight: normal;
	max-width: 100%;
	min-width:970px;
	width: 100%;
}

body:before, body:after {
		background: #FFF;
		content: normal;
}
.pos-logo-sm {
		display: none;
}
.bold {
		font-weight: bold;
}

.btn-pos {
	width: 11%;
    flex-grow: 1;
    padding: 0 1.6% 0 0;
}

#wrapper {
	height: 100%;
	position: relative;
}

.ui-keyboard {
	padding: .3em;
	z-index: 16001;
	background: rgba(255, 255, 255, 0.8);
	right: 0 !important;
	left: 0 !important;
	top: auto !important;
		bottom: 0px !important;
		position: fixed !important;
		width: 100%;
		min-width: 750px;
	height:230px;
		-webkit-box-shadow: -5px 0px 10px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    -5px 0px 10px rgba(50, 50, 50, 0.50);
		box-shadow:         -5px 0px 10px rgba(50, 50, 50, 0.50);
}
.ui-keyboard-has-focus { z-index: 16001; }
.ui-keyboard div {
	font-size: 1.1em;
}
.ui-keyboard-button {
	height: 3em;
	width: 3em;
	margin: .1em;
	cursor: pointer;
	overflow: hidden;
}
.ui-keyboard-button span {
	padding: 0;
	margin: 0;
	white-space:nowrap;
}
.ui-keyboard-button-endrow {
	clear: left;
}
.ui-keyboard-widekey {
	width: 4em;
}


.ui-keyboard-preview {
	text-align: left;
	margin: 0 0 3px 0;
	display: inline;
	width: 99%;
}
.ui-keyboard-keyset {
	text-align: center;
}
/*.ui-keyboard-input {
	text-align: left;
}*/
.ui-keyboard-input-placeholder {
	color: #888;
}
.ui-keyboard-nokeyboard {
	color: #888;
	border-color: #888;
}
.ui-keyboard-button.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
	border-color: #357ebd;
}
.ui-keyboard .ui-state-active {
		border-color: #357ebd;
		color: #357ebd;
}
.ui-keyboard-space {
	width: 18em;
	text-indent: -999em;
}
.ui-keyboard .ui-keyboard-bksp {
	width: 6.2em;
				background-color: #f0ad4e;
	border-color: #eea236;
				color: #FFF;
}

.ui-keyboard .ui-keyboard-bksp:hover {
	background-color: #ec971f;
	border-color: #d58512;
}

.ui-keyboard .ui-keyboard-enter {
		background-color: #f0ad4e;
	border-color: #eea236;
				color: #FFF;
				width: 9.4em;
}
.ui-keyboard .ui-keyboard-enter:hover {
		background-color: #ec971f;
	border-color: #d58512;
}
.ui-keyboard .ui-keyboard-shift {
		background-color: #428bca;
	border-color: #357ebd;
				color: #FFF;
				width: 4.55em;
}
.ui-keyboard .ui-keyboard-shift:hover, .ui-keyboard .ui-keyboard-shift.ui-state-active {
		background-color: #3071a9;
	border-color: none;
}
.ui-keyboard .ui-keyboard-accept {
	width: 11.1em;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding-left: 2px;
	padding-right: 2px;
				color: #FFF;
}
.ui-keyboard .ui-keyboard-accept:hover {
	background-color: #449d44;
	border-color: #398439;
}
.ui-keyboard .ui-keyboard-cancel {
	width: 4.5em;
	background-color: #d9534f;
	border-color: #d43f3a;
		color: #FFF;
	padding-left: 2px;
	padding-right: 2px;
}
.ui-keyboard .ui-keyboard-cancel:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}
#ui .tooltip-inner { max-width: 500px; }


#content {
	background: none;
	box-sizing: border-box;
	/*margin-left: 57.5px; */
	/*padding-top: 15px;*/
	padding: 0px !important;
}

#content .c1 {
	/*background-color: red;*/
	height: 100%;
}

.pos-grid-nav {
	z-index: 50;
	/*position: absolute;
    width: 68%;
    bottom: 5px;*/
}
.form-control.input-sm {
	font-size: 14px;
	height: auto;
	line-height: 16px;
	padding: 3px;
}

.pos {
	height: 100%;
	margin: 0 auto;
}

#pos {
	display: flex;
	height: 100%;
	overflow: hidden;
	position:relative;
	width: 100%;
}

#pos .form-group {
	margin-bottom: 5px;
}
#pos #cpdiv {
	display: inline-block;
}

#pos form {
	/*max-width: 600px;*/
	width: 40%;
}

#pos #leftdiv #cp {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

#pos #leftdiv #print {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pos #leftdiv #print #left-middle{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pos #leftdiv #print #left-middle #product-list {
	flex-grow: 1;
	position: relative;
}


#pos #leftdiv #print #left-bottom {
	/*padding-top: 150px;*/
}


#pos #cp {
	flex-grow: 1;
	/*height: 100%;*/
	overflow: hidden;
	width: 60%;
}



#pos #cp #cpinner {
	/*background: #F5f5F5;*/
	box-sizing: border-box;
	height: 100%;
	padding:0px 10px 5px 10px;
	display: flex;
	flex-direction: column;
}

.quick-menu {
	overflow: auto;
}
#pos #cp #cpinner .quick-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pos #cp #cpinner .quick-menu #proContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pos #cp #cpinner .quick-menu #proContainer #ajaxproducts {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pos #cp #cpinner .quick-menu #proContainer #ajaxproducts #item-list {
	flex-grow: 1;
}



#pos #catContainer { display:block; width:auto;  padding: 5px 10px 10px 15px; background: #757575; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.9) inset; border-radius: 5px; text-align:center;}
#pos #proContainer { display:block;}

#pos #printhead, #pos #printfooter {
		display: none;
}

.rotate {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);

		/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;

		/* Should be unset in IE9+ I think. */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#pos #left-middle { position: relative; }
#pos #product-list { position: absolute; overflow: hidden; width: 100%; border-bottom: 1px solid #DDD; }
.btn-tran {
		background: #F5F5F5;
		border: 1px solid #F5F5F5;
		cursor: pointer;
		height: 115px;
		margin: 2px;
		padding: 2px;
		width: 10.5%;
}
.btn-tran:hover {
		background: #F5F5F5;
		border: 1px solid #F5F5F5;
}
.btn-prni {
		border: 1px solid #eee;
		cursor: pointer;
		height: 210px;
        margin: 0 0.2% 0 0.2%;
		padding: 2px;
		width: 13.8%;
		min-width: 100px;
		overflow: hidden;
		display: inline-block;
		font-size: 14px;
		border-radius: 6px;
		position: sticky;
}

.btn-prni span {
		display: table-cell;
		height: 45px;
		line-height: 15px;
		vertical-align: middle;
		width: 10.5%;
		min-width: 94px;
		overflow: hidden;
}

.btn-prni img {
    height: 120px;
    width: 120px;
}

.pos-product-img{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:16.2%;
	margin: 2px;
}
.pos-product-name{
	height: 45px;
    text-align: center;
    font-family: poppins !important;
    font-weight: 500;
    padding:2px;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-color: #dedede;
    overflow:hidden;
	font-size: 12px
}

.btn-prni.active { background: #eee; border: 1px solid #e5e5e5; cursor: default;  }
#pos #totalTable td { padding: 2px; }
.alert { position: absolute; top:50px; right:10px; width:350px; z-index: 55555; -webkit-box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); -moz-box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); display: block; }
.alert, .alert p { margin-bottom:0; font-size: 1em; }
#pos .clearfix { float: none; clear: both; }
.bootbox.modal { width: 300px; margin-left: -150px; left: 50%; }
.bootbox .modal-footer { background: none; border:0; text-align:center; }
.bootbox .modal-footer { padding-top: 0; }
/*.bootbox.modal.fade.in { top: 30%; }*/
.btn-cat-con { position: fixed; top: 30%; right: -236px; z-index: 6; width: 500px; height: 40px; }
#ajaxCall {
    display: none;
    color: #3a84c5;
    background: #ffffff;
    top: 9%;
    right: 3%;
    position: fixed;
    width: 62px;
    height: 61px;
    z-index: 9999;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 100%;
    /* background: rgb(51 51 51 / 70%); */
    /* border-radius: 25px; */
    /* width: 100%; */
    /* height: 100%; */
}
#ajaxCall i {
    font-size: 50px;
    /*position: relative;
    top: 50%;*/
}

#favorites-slider, #category-slider, #subcategory-slider, #brands-slider, #promotions-slider, #featured-slider {
	background: #f5f7faf0;
    border: 1px solid #d8d8d8;
    display: none;
    height: 610px;
    padding: 10px 10px;
    position: absolute;
    width: 58%;
    z-index: 1060;
    border-radius: 11px;
    overflow-y: scroll;
}

#category-list, #subcategory-list, #brands-list { max-height: 585px; overflow: hidden; position: absolute;width: 98.8%; }
.font16 { font-size: 16px; font-weight: bold; }
.bg-nums { background: #FFFF99; padding: 5px 10px; color: #000; margin-left: 15px; }
#order_tbl, #bill_tbl { display: none; }
.quick-cash { width: 100%; }
.quick-cash .badge { position: absolute; top: 2px; right: 2px; font-size: 0.6em; padding: 1px 4px; border-radius: 0; }

#pos #totalTable{
	background: #606062;
	color:#fff;
	float:right;
	padding:5px;
	width:100%;
	border-radius: 0px 0px 10px 10px;
}
#pos #totalTable a{
	color:#fff;
}
#botbuttons{
	/*margin-top: 10px;*/
}

.menu-sobre-productos{
	align-items: center;
	display: flex;
	justify-content: center;
    padding: 0px 0 10px 3px;
    margin: 0 8px 0 0;
}
.menu-sobre-productos .btn{
	flex-grow: 1;
	margin-right: 5px;
	width: 12.5%;
}

.menu-sobre-productos > .btn, .restobar_button_container > .btn{
/*	width: 10% !important;
    height: 50px;
    font-size: 130%;
    font-family: poppins !important;
    font-weight: 600;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: solid 2px;
    border-radius: 0px !important;*/
    width: 10% !important;
    height: 50px;
    font-size: 115%;
    font-family: poppins !important;
    font-weight: 600;
    /* border-top: 0px; */
    /* border-right: 0px; */
    /* border-left: 0px; */
    /* border-bottom: solid 2px; */
    border-radius: 10px !important;
    margin-right: 0.6%;
    background-color: #ffffff !important;
 }


.menu-sobre-productos > .btn:hover, .restobar_button_container > .btn:hover{
/*	border-radius: 11px !important;*/
	border-radius: 15px !important;
    background-color: #1484c6 !important;
}
.menu-sobre-productos > .btn:focus{
	color: #fff;
    background-color: #1484c6 !important;
}
.pos-label-input {
	font-size: 14px;
}


.menu-sobre-productos .btn:last-child{
	margin-right: 0px;
}
.menuPOS{
	background-color: #007dcc;
	float: left;
	/*height: 300px;*/
	/* height: 100vh; */
}
.menuPOS ul{
	list-style: none;
	list-style-type: none;
}
.menuPOS ul li{
	border-bottom: 1px solid #ffffff;
}
.menuPOS ul li:hover{
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
}
.menuPOS ul li a{
	color: #ffffff;
	display: block;
	padding: 10px 20px;
}
/* .navbar{
	background-color: #007dcc;
} */

.btn-group-flex{
	display: flex;
	justify-content: center;
}
.btn-group-flex>.btn-group .btn-pos-nav{
	/*background-color: #a9abae;*/
	width: 60px;
	box-sizing: border-box;
	padding: 15px 20px;
	border: none;
}

.btn-group-flex>.btn-group .btn-pos-nav[disabled]{
	/*background-color: #b3b3b3;*/
}

.btn-group-flex>.btn-group .btn-pos-nav-ext{
	/*background-color: #96989a;*/
}

.btn-group-flex>.btn-group .btn-pos-nav-l{
	margin-right: 5px;
}

.btn-group-flex>.btn-group .btn-pos-nav-r{
	margin-left: 5px;
}

.btn-group-flex>.btn-group.btn-pos-card{
	flex-grow: 1;
}
.btn-group-flex>.btn-group.btn-pos-card button{
	/*background-color: #a9abae;*/
	border: none;
	box-sizing: border-box;
	padding: 15px 20px;
	width: 100%;
	/*color: rgba(60,60,60);*/
}

.btn-pos-card{
	margin-right: 4px;
	margin-left: 4px !important;
}

.navbar {
	/*height: 42px;*/
}
.btn-wappsi-cat{
    background-color: #1484c6;
    color: #ffffff;
    border-radius: 4px !important;
}

.btn-wappsi-cat.wappsi_cat_active{
	color: #007dcc;
    border-color: #007dcc;
    background-color: white;
}

.btn-wappsi-cat{
	color: #7f7f7f;
/*    border-color: #929292;#eeeeee*/
    border-color: #eeeeee;
    background-color: white;
}
.btn-wappsi-cat:focus{
    outline: unset !important;
}
.btn-wappsi-cat:hover{
	background-color: #007dcc;
	color: #ffffff;
}

#botbuttons .row{
	display: flex;
}

#botbuttons .row >div{
	margin-right: 10px;
}

#botbuttons .row >div:last-child{
	margin-right: 0px;
}

#botbuttons .btn i{
	font-size: 30px;
}
.btn-wappsi-cancelar{
	background-color: #ed3237;
	color: #ffffff;
}
.btn-wappsi-pausar{
	background-color: #007dcc;
	color: #ffffff;
}
.btn-wappsi-comanda{
	background-color: #36578c;
	color: #ffffff;
}
.btn-wappsi-pagar{
	background-color: #00b052;
	color: #ffffff;
}
.btn-wappsi-cancelar:hover{
	background-color: #bd272b;
	color: #ffffff;
}
.btn-wappsi-pausar:hover{
	background-color: #03619c;
	color: #ffffff;
}
.btn-wappsi-comanda:hover{
	background-color: #24395d;
	color: #ffffff;
}
.btn-wappsi-pagar:hover{
	background-color: #026731;
	color: #ffffff;
}

.btn-wappsi-cancelar.btn-outline{
	color: #ed3237;
	border-color: #ed3237;
	background-color: transparent;
}
.btn-wappsi-pausar.btn-outline{
	color: #007dcc;
	border-color: #007dcc;
	background-color: transparent;
}

.btn-wappsi-pausadas.btn-outline{
	color: #333333;
	border-color: #007dcc;
	background-color: transparent;
	border-radius: 10px !important;
    padding: 10px 10px 10px 10px !important;
    border-color: #1484c6 !important;
    border-style: solid;
    border-width: 2px;
}
.btn-wappsi-pausadas{
	color: #ffffff;
	border-color: #007dcc;
	background-color: #03619c;
	border-radius: 10px !important;
    padding: 10px 10px 10px 10px !important;
    border-color: #1484c6 !important;
    border-style: solid;
    border-width: 2px;
}
.btn-wappsi-pausadas:hover{
	background-color: #03619c;
	color: #ffffff;
}
.btn-wappsi-pausadas:focus{
	background-color: #03619c;
	color: #ffffff;
}

.btn-wappsi-comanda.btn-outline{
	color: #36578c;
	border-color: #36578c;
	background-color: transparent;
}
.btn-wappsi-pagar.btn-outline{
	color: #00b052;
	border-color: #00b052;
	background-color: transparent;
}
.btn-wappsi-cancelar.btn-outline:hover{
	background-color: #ed3237;
	border-color: #ed3237;
	color: white;
}
.btn-wappsi-pausar.btn-outline:hover{
	background-color: #007dcc;
	border-color: #007dcc;
	color: white;
}
.btn-wappsi-comanda.btn-outline:hover{
	background-color: #36578c;
	border-color: #36578c;
	color: white;
}
.btn-wappsi-pagar.btn-outline:hover{
	background-color: #00b052;
	border-color: #00b052;
	color: white;
}

.btn-wappsi-cancelar.btn-outline[disabled]{
	background-color: #ed3237;
	border-color: #ed3237;
	color: white;
}
.btn-wappsi-pausar.btn-outline[disabled]{
	background-color: #007dcc;
	border-color: #007dcc;
	color: white;
}
.btn-wappsi-comanda.btn-outline[disabled]{
	background-color: #36578c;
	border-color: #36578c;
	color: white;
}
.btn-wappsi-pagar.btn-outline[disabled]{
	background-color: #00b052;
	border-color: #00b052;
	color: white;
}

#left-top .input-group .form-control{
	z-index: 1;
}

#left-top {
	background-color: white;
    padding: 10px;
    border-radius: 10px;
    /*-webkit-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.75);*/
    margin-bottom: 10px;
}

.header-nav a.btn:hover{
	background-color: #0070b7;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #0070b7;
}

.header-nav a.btn {
	background: #0070b7;
}

.table>tbody>tr.danger>td{
	/*background-color: #d6d6d6;*/
	background-color: #ffd0d0;
}

.table-hover>tbody>tr.danger:hover>td{
	background-color: #dab7b7;
	border-color: transparent;
}

.table-hover > tbody > tr:hover > td{
	background-color: #cacaca;
	border-color: transparent;
}

#botbuttons .btn:focus, #botbuttons .btn:hover{
	color: #fff;
}

.ps-container{
	border-radius: 10px;
}

@media (min-width: 1024px) {

	#pos #product-list {
		height: 366px;
	}

}

@media (max-width: 1152px) {

	a.navbar-brand {
		width: auto;
	}

	.pos-logo-lg {
		display: none;
	}

	.pos-logo-sm {
		display: inline-block;
		float: left;
		width: 50px;
	}


	#left-bottom {
		    /*height: 180px;*/
	}

	.pos-grid-nav {
		display: none !important;
	}

}
@media only screen and (min-width: 1500px) {
	.tabs_text_inverse{
		display: none !important;
	}
}
@media only screen and (max-width: 1500px) {
	.tabs_text{
		display: none !important;
	}
	.btn-prni img {
	    height: 90px;
	    width: 90px;
	}
	.btn-prni {
		height: 154px;
	}
}

@media only screen and (max-width: 800px) {

	.no-mobile{
		display: none !important;
	}

	#product-list {
		font-size: 12px;
	}

	#product-list i {
		font-size: 12px;
	}

	#cp {
		display: none;
	}

	#pos form {
		max-width: 100%;
	}

	.header-nav{
		background-color: #007dcc !important;
	}




	#pos #cp #cpinner .quick-menu #proContainer #ajaxproducts #item-list {
		margin-bottom: 15px;
		max-height: 100%;
		overflow-y: auto;
	}



	#pos .btn-tran, #pos .btn-prni, #pos .btn-prni span { max-width: 23%; }
	.modal-sm { width: 300px; }
	.modal-dialog .col-sm-9 { float: left; width: 75%; }
	.modal-dialog .col-sm-3 { float: left; width: 25%; }
	.btn-group .btn { width: 100%; }

	.header-nav { display: inline-block; min-width: 600px; float: right; }
	a.navbar-brand { padding: 9px 0 0px 10px !important; height: auto; }
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
	.container .navbar-header, .container .navbar-collapse { margin-right: 0; margin-left: 0; }
	.navbar-header {float: left;}
	.navbar-collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
	.navbar-toggle { display: none;}
	.navbar-collapse { border-top: 0;}
	.navbar-nav { float: left; margin: 0;}
	.navbar-nav > li { float: left;}
	.navbar-nav > li > a { padding: 15px;}
	.navbar-nav.navbar-right { float: right;}
	.navbar .navbar-nav .open .dropdown-menu { position: absolute; float: left; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .15); border-width: 0 1px 1px; border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #333;}
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover,.navbar .navbar-nav .open .dropdown-menu > li > a:focus,.navbar .navbar-nav .open .dropdown-menu > .active > a,.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > .active > a:focus { color: #fff !important; background-color: #428bca !important;}
	.navbar .navbar-nav .open .dropdown-menu > .disabled > a,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {  color: #999 !important; background-color: transparent !important;}
	.fa-bx { font-size: 22px; }
	.lb { display: block; height: 0; }



}

@media only screen and (max-width: 800px) {
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}

	body{
		min-width: 100%;
	}

	.menuPOS{
		height: 100%;
		display: none;
	}

	#content {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		/*width: calc(100% - 57.5px);*/
		width: 100%;
		margin-left: 0px;
		overflow-y: auto;
	}
	#content .c1{
	}
	.pos {
	}
	#pos {
		flex-direction: column;
	}

	#pos form {
		width: 100%;
		max-width: 100%;
		/*background-color: blue;*/
	}

	#pos #leftdiv {
		margin-left: 0px;
		min-height: 1000px !important;
	}

	#pos #cp {
		width: 100%;
		/*background-color: cyan;*/
		order: 2;
	}


	#pos #product-list {
		min-height: 410px;
		max-height: 600px !important;
	}

	.menuPOS{
		height: 100%;
	}

	#pos #cp #cpinner .quick-menu #proContainer #ajaxproducts #item-list{
		margin-bottom: 15px;
		max-height: 200px;
		overflow-y: auto;
	}

	#pos #product-list{
		min-height : 45vh !important;
	}

	#paymentModal{
		overflow-y : scroll !important
	}

}




/*@media only screen and (max-width: 700px) {
#pos #leftdiv{
		height: auto;
	}
	#pos #product-list{
		height: auto;
		overflow-y: auto;
		max-height: 150px;
	}
	.navbar{
		height: auto;
	}
}*/


/*@media only screen and (max-height: 400px) {
html, body {
		background-color: yellow;
		height: 100%;
	}

	#wrapper {
		background-color: orange;
		height: 100%;
	}

	#content {
		display: none;
		margin-left: 0px;
		background-color: red;
		height: 100% !important;
	}

	.menuPOS {
		display: none;
	}

	#pos #leftdiv {
		margin-left: 0px;
	}
}*/



/*@media only screen and (max-width: 500px) {
	#pos #product-list{
		max-height: 250px;
	}
	.menu-sobre-productos{
		flex-wrap: wrap;
		justify-content: center;
	}
	.menu-sobre-productos .btn{
		border: 1px solid #fff;
		margin-right: 0px;
	}
	.modal-dialog{
		width: 95%;
	}
	#botbuttons .row{
		flex-wrap: wrap;
	}
	#botbuttons .row >div {
	margin-right: 0px;
	}
}*/
@media only screen and (max-width: 400px) {
	.pos-grid-nav .btn-group:first-child, .pos-grid-nav .btn-group:last-child{
		display: none;
	}
}

.tr_preferences > td {
	padding : 0px 10px 0px 10px !important;
	margin: 0px !important;
	background-color: antiquewhite;
    font-size: 85%;
}


.btn-pos-footer {
	text-align: center;
    width: 100% !important;
    height: 50px;
    font-size: 130%;
    font-weight: bold;
}
.btn-wappsi-cat.btn-outline{
    background-color: #ffffff00;
}

.btn-wappsi-cat.btn-outline:hover{
    background-color: #1684c6;
}

.btn-wappsi-cat.btn-outline:focus{
    background-color: #1684c6;
}

@media (max-width:799px) {
	.modal-md {
		width : auto
	}
	.txt_payment_left {
		text-align: center;
	}
	.txt_payment_right {
		text-align: center;
	}

	#clear-cash-notes {
	    position: relative;
	    top: 147px;
	    left: 312px;
	    font-size: 173% !important;
	    margin: -21px 0px 0 0;
	    z-index: 999;
	}
	.quick-cash{
		font-size: 85%;
	}
}


@media (min-width:800px) {
	.modal-md{
    	width: 600px !important
	}
	.txt_payment_left {
		text-align: right;
	}
	.txt_payment_right {
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #c5c5c5;
	}

	#clear-cash-notes {
		position: relative;
	    top: 63px;
	    left: 528px;
	    font-size: 173% !important;
	    margin: -21px 0px 0 0;
	    z-index: 999;
	}

	.quick-cash > .badge {
		position: relative;
		top: 9px;
		left: 20px;
		background-color: #337ab7;
		color: white;
		border-radius: 9px;
		height: 15px;
		padding-top: 2px;
		width: 15px;
		padding-right: 5px;
	}
}


.txt_payment {
	font-size: 300%;
    font-family: 'Poppins';
    font-weight: bold;
}

.text-primary {
	color : #00b052;
}
.title_payment {
	color : #8c8c8c;
}

.close-payment{
	position: relative;
	top: -33px;
    left: -21px;
    font-size: 144% !important;
    margin: -21px 0px 0 0;
}

.paid_by > .select2-choice > .select2-chosen {
	padding-left: 6% !important;
}

.icon_promo {
	position: absolute;
    top: -2%;
    left: 5%;
    font-size: 136%;
    color: #e34643;
    text-align: left;
}

.fav_products_price {
	margin: 0 !important;
    font-size: 110%;
    font-weight: 700;
}

.promo_pos_img {
	width: 17% !important;
    height: 17% !important;
    border-radius: 0 !important;
}

.pos_promo_price {
	color : #00a859;
}

.pos_outstock_price {
	color : #d73f3f;
}

.pos_new_price {
	color : #0098da;
}
.header_alert{
	position: static;
    width: 100%;
}
.row_mobile{
	flex-direction: column;
}
.input_mobile{
	width : 100% !important;
}
input.btn-pos-product_movil#add_item {
	border-bottom : 2px solid #1484c6 !important;
	border-top : 2px solid #1484c6 !important;
	border-left : 4px solid #1484c6 !important;
	border-right : 4px solid #1484c6 !important;
	border-radius : 30px !important;
}
.div_hidden_movile{
	display : none;	
}
.div_container_item_movile{
	height : 45vh !important;
}
.value_pay_contenedor{
	  display: flex;
	  align-items: center; /* Centra verticalmente los elementos en el contenedor */
	  gap: 10px; /
}
#clear-cash-notes {
	position: initial !important;
}


.cambio_colores {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, 
    #95d3f7, #3be8f3, #0d91bf, #10c0fe, #0cd1e5, #DAF7A6, #f91579);
  background-size: 300% 100%; /* Tamaño del fondo para permitir el movimiento */
  animation: arcoiris 3s linear infinite; /* Animación infinita */
}

/* Animación para mover los colores */
@keyframes arcoiris {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}