// Theme Colors
$black:         #000000;
$primary:          #2196f3;
$primary-grey:     #607d8b;
$brown:         #795548;
$cyan:          #00bcd4;
$green:         #4caf50;
$grey:          #9e9e9e;
$purple:        #9c27b0;
$orange:        #ff9800;
$pink:          #e91e63;
$red:           #f44336;
$teal:          #009688;
$white:         #ffffff;

// Colors Array
$colors-array: (
    ('black', $black),
    ('blue', $primary),
    ('blue-grey', $primary-grey),
    ('brown', $brown),
    ('cyan', $cyan),
    ('green', $green),
    ('grey', $grey),
    ('purple' $purple),
    ('orange', $orange),
    ('pink', $pink),
    ('red', $red),
    ('teal', $teal),
    ('white', $white)
);


$font-family:     'Ubuntu', sans-serif;
$font-family-alt: 'Roboto', sans-serif;
$font-color:      #333;
$font-color-alt:  #999;
$border-radius:   0;

$bg-color:        #eee;
$bg-dark:         darken($bg-color, 4%);
$bg-darker:       darken($bg-color, 8%);
$bg-light:        lighten($bg-color, 4%);
$bg-lighter:      lighten($bg-color, 8%);

$border-color:       #ccc;
$border-color-light: #ddd;
$font-color-footer:  $bg-color;
$bg-color-footer:    $font-color;


// Bootstrap variable
$brand-primary:         $primary;
$brand-success:         $green;
$brand-info:            $cyan;
$brand-warning:         $orange;
$brand-danger:          $red;

$border-radius-base:    $border-radius;
$border-radius-large:   $border-radius;
$border-radius-small:   $border-radius;

// Import Bootstrap Sass
@import './bootstrap-sass/bootstrap';
@import './bootstrap-sass/bootstrap/mixins';
