@font-face {
  font-family: 'iconwappsi';
  src:  url('fonts/iconwappsi.eot?yer604');
  src:  url('fonts/iconwappsi.eot?yer604#iefix') format('embedded-opentype'),
    url('fonts/iconwappsi.ttf?yer604') format('truetype'),
    url('fonts/iconwappsi.woff?yer604') format('woff'),
    url('fonts/iconwappsi.svg?yer604#iconwappsi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconw-"], [class*=" iconw-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconwappsi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconw-cart_filled:before {
  content: "\e902";
}
.iconw-cart_outlined:before {
  content: "\e903";
}
.iconw-user_filled:before {
  content: "\e900";
}
.iconw-user_outlined:before {
  content: "\e901";
}

.login_div:hover .iconw-user_outlined:before {
  content: "\e900";
}

.shopping-cart:hover .iconw-cart_outlined:before {
  content: "\e902";
}