.form-control {
  padding: 0px 0px;
}

.btn-success.btn-outline {
  color: #1c84c6;
}

.btn-success.btn-outline:focus-within {
  color: #fff;
}

.navbar a.btn-primary {
  color: #ffffff;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #186fa7;
  border-color: #186fa7;
}

.mini_avatar {
  height: auto;
  width: 45px;
}

.login-page .page-back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../images/fnd_login.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-page .login-content {
  overflow: hidden;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #186fa7;
}

body {
  background-color: #464646;
}

h2 {
  font-weight: bolder;
}

.nav > li > a {
  color: #ffffff;
  font-weight: 500;
}

.nav > li.active {
  background-color: #2f2f2f;
  border-left: 4px solid #0070b7;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: #0070b7;
}

.nav-header {
  background-color: #0070b7;
}

.nav.navbar-right > li > a {
  color: #ffffff;
}

.nav-header .text-muted {
  color: #c3c3c3;
}

.text-muted {
  color: #ffffff;
}

.page-heading h2 {
  font-weight: lighter;
}

@media print {
  .no-printable {
    display: none !important;
  }
}