<h3>{logo}</h3><h4>Detalle de orden de pedido</h4><p>
    Hola {contact_person} {company},</p><p>
    Te hacemos envío adjunto de tu orden de pedido ({reference_number}) .
    {site_link}</p><p>
    Atentamente,
    <br>
    {site_name}</p>