<h3>{logo}</h3><h4>Cotización</h4><p>
    Hola {contact_person} ({company}),</p><p>Mediante el presente correo enviamos adjunto el PDF de la cotización con referencia&nbsp; ({reference_number}).</p><p>
    Quedamos atentos a cualquier inquietud, atentamente,&nbsp; &nbsp;&nbsp;<br>
    {site_name}</p>