<h3>{logo}</h3><h4>Detalle de venta</h4>
<p>
    Hola {contact_person} {company},
</p>
<p>
    Te hacemos envío adjunto de tu factura ({reference_number}) .
    {site_link}
</p>
<p>
    Atentamente,
    <br>
    {site_name}
</p>
