<h3>{logo}</h3><h4>¡Orden de pedido agregada!</h4><p>
    Saludos,</p><p>
    Te notificamos que ha sido agregado una nueva orden de pedido con N° ({reference_number}).
    {site_link}</p><p>
    Atentamente,
    <br>
    {site_name}</p>